# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Ambientes virtuais
ENV/
venv/
.venv/

# Node modules
node_modules/

# Cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Database
*.sqlite3
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
www/dist/
static/dist/

# Coverage
.coverage
htmlcov/